.git
.env
dist
coverage.out
*.log
.local
*.dump
*.backup
.env.*
**/.env
**/.env.*
**/*.env
**/*.key
**/*.pem
**/ssh_known_hosts
**/node_modules
**/test-results
**/secrets.env
**/secret.local.yaml
site
base
overlays
fleet*.yaml
.github
docs
